
<div class="wrapper"><!-- Wrapper -->
    <div class="inner-wrapper"><!-- Inner-Wrapper -->
        <div id="main"><!-- Main -->
        	<div class="hr-invisible-small"></div>
      
        		<div class="breadcrumb-wrapper">
                    <div class="container">
            
               
                    </div>
                </div>                
            </section>
            <div class="hr-invisible-very-small"></div>
            <div class="clear"></div>
            <h2 class="border-title aligncenter"> Daily </h2>
            <div class="hr-invisible-small"></div>
            <div class="container">
                <section id="secondary" class="secondary-left-sidebar transparent-bg">
                
                  
                <section id="primary" class="page-with-sidebar with-left-sidebar">
                    <div class="column dt-sc-one-third first">
                    	<div class="product-border">
                        	<div class="product-thumb">
                            	<a href="shop-cart.html">
                                  <img src='<%= image_url 'black.JPG' %>' 
                                </a>
                            </div>
                            <div class="product-details">
                            
                                <div class="hr-invisible-very-very-small"></div>
                                
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="hr-invisible-medium"></div>
                        <div class="product-border">
                        	<div class="product-thumb">
                            	<a href="shop-cart.html">
                                              <img src='<%= image_url 'black.JPG' %>' 
                                </a>
                             
                            </div>
                            <div class="product-details">
                            
                                <div class="hr-invisible-very-very-small"></div>

                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="hr-invisible-medium"></div>
                        <div class="product-border">
                        	<div class="product-thumb">
                            	<a href="shop-cart.html">
                                      <img src='<%= image_url 'black.JPG' %>' 
                                </a>
                            </div>
                            <div class="product-details">
                            
                                <div class="hr-invisible-very-very-small"></div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="column dt-sc-one-third">
                    	<div class="product-border">
                        	<div class="product-thumb">
                            	<a href="shop-cart.html">
                            	    <img src='<%= image_url 'black.JPG' %>' 
                                </a>
                            </div>
                            <div class="product-details">
                            
                                <div class="hr-invisible-very-very-small"></div>
                           
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="hr-invisible-medium"></div>
                        <div class="product-border">
                        	<div class="product-thumb">
                            	<a href="shop-cart.html">
                                     <img src='<%= image_url 'black.JPG' %>' 
                                </a>
                             
                            </div>
                            <div class="product-details">
                            
                                <div class="hr-invisible-very-very-small"></div>
                               
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="hr-invisible-medium"></div>
                        <div class="product-border">
                        	<div class="product-thumb">
                            	<a href="shop-cart.html">
                                    <img src='<%= image_url 'black.JPG' %>' 
                                </a>
                            
                            </div>
                            <div class="product-details">
                            
                                <div class="hr-invisible-very-very-small"></div>
                              
                            </div>
                        </div>
                    </div>
                    <div class="column dt-sc-one-third">
                    	<div class="product-border">
                        	<div class="product-thumb">
                            	<a href="shop-cart.html">
                                      <img src='<%= image_url 'black.JPG' %>' 
                                </a>
                            </div>
                            <div class="product-details">
                            
                                <div class="hr-invisible-very-very-small"></div>
                              
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="hr-invisible-medium"></div>
                        <div class="product-border">
                        	<div class="product-thumb">
                            	<a href="shop-cart.html">
                                             <img src='<%= image_url 'black.JPG' %>' 
                                </a>
                            </div>
                            <div class="product-details">
                            
                                <div class="hr-invisible-very-very-small"></div>
                             
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="hr-invisible-medium"></div>
                        <div class="product-border">
                        	<div class="product-thumb">
                            	<a href="shop-cart.html">
                                   <img src='<%= image_url 'black.JPG' %>' 
                                </a>
                            #</div>
                            <div class="product-details">
                            
                                <div class="hr-invisible-very-very-small"></div>
                                <a class="dt-sc-button btn-eff3" data-text="Add to Cart" href="/musle_daily/daily_write">
                    <span>등록하기</span>
                    </a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="hr-invisible-small"></div>
              

                    </div>
                    <div class="hr-invisible-medium"></div>
                    <div class="hr-invisible-very-very-small"></div>
                </section> 
            </div>     
  		</div><!-- End of Main --> 
     
	</div><!-- End of Inner-Wrapper -->
</div><!-- End of Wrapper -->
