
<div class="wrapper"><!-- Wrapper -->
    <div class="inner-wrapper"><!-- Inner-Wrapper -->
    	
        <div id="main"><!-- Main -->
            <div class="banner type3">
            	<div class="fullwidth-section dt-sc-parallax-section slider-bg">
                	<div class="parallax-spacing">
                    	<div class="container">
                        	<div class="caption aligncenter">
                            	<h1 class="caption-heading letters rotate-2">
                                    <span> Muscler have </span> 
                                    <span class="caption-words">
                                        <b class="is-visible">passion</b>
                                        <b>patience</b>
                                        <b>desire</b>
                                    </span>
                                    
                                </h1>
                            </div>
                            <div class="hr-invisible-medium"></div>
                            <div class="dt-sc-view-btn aligncenter">
                                <% if user_signed_in? %>
                                <a href="/user_page" class="btn-eff2"> <%= current_user.nickname %> 님 환영합니다. </a>
                                <% else %>
                                <a href="/users/sign_up" class="btn-eff2"> Muscler와 함께하기 </a>
                                <% end %>
                                
                            </div>   
                            
                            <div class="hr-invisible"></div>
                            <div class="hr-invisible"></div>
                            <div class="hr-invisible"></div>
                            <div class="aligncenter">
                            	
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
        
            <div class="clear"></div> 
            <div class="fullwidth-section dt-sc-parallax-section counter-parallax dark-bg">
                <div class="fullwidth-bg">
                	<div class="container">
                    	<div class="hr-invisible"></div>
                    	<div class="column dt-sc-one-fourth first">
                        	<div class="dt-sc-counter animate" data-delay="100" data-animation="fadeIn animated">
                            	<div class="dt-sc-counter-number">
                                    <p data-value="500">500</p>
                                </div>
                                <div class="hr-invisible-very-small"></div>
                                <div class="hr-invisible-very-very-small"></div>
                                <%=image_tag("heading-bottom.png") %>
                                <div class="hr-invisible-very-small"></div>
                                <h5> 우리의 회원수 </h5>
                            </div>
                        </div>
                        <div class="column dt-sc-one-fourth">
                        	<div class="dt-sc-counter animate" data-delay="200" data-animation="fadeIn animated">
                                <div class="hr-invisible-very-small"></div>
                                <h5> 우리의 전문가 수 </h5>
                                <div class="hr-invisible-very-small"></div>
                                <%=image_tag("heading-bottom.png") %>
                                <div class="hr-invisible-very-small"></div>
                                <div class="hr-invisible-very-very-small"></div>
                                <div class="dt-sc-counter-number">
                                    <p data-value="5">5</p>
                                </div>
                            </div>
                        </div>
                        <div class="column dt-sc-one-fourth">
                        	<div class="dt-sc-counter animate" data-delay="300" data-animation="fadeIn animated">
                                <div class="dt-sc-counter-number">
                                    <p data-value="300">300</p>
                                </div>
                                <div class="hr-invisible-very-small"></div>
                                <div class="hr-invisible-very-very-small"></div>
                                 <%=image_tag("heading-bottom.png") %>
                                <div class="hr-invisible-very-small"></div>
                                <h5> 지금 땀 흘리는 회원수 </h5>
                            </div>
                        </div>
                        <div class="column dt-sc-one-fourth">
                        	<div class="dt-sc-counter animate" data-delay="400" data-animation="fadeIn animated">
                            	<div class="hr-invisible-very-small"></div>
                                <h5> 우리의 열정 </h5>
                                <div class="hr-invisible-very-very-small"></div>
                                <div class="hr-invisible-very-very-small"></div>
                                <%=image_tag("heading-bottom.png") %>
                                <div class="hr-invisible-very-small"></div>
                                <div class="hr-invisible-very-very-small"></div>
                                <div class="dt-sc-counter-number">
                                    <p data-value="999">999</p>
                                </div>
                            </div>
                        </div>
                        <div class="hr-invisible"></div>
                    </div>
                </div>
            </div>
            
            
            
            
          	<div class="fullwidth-section dt-sc-parallax-section blog-parallax dark-bg">
                <div class="fullwidth-bg">
                	<div class="parallax-spacing">
                    	<div class="container">
                        	<h2 class="border-title aligncenter"> Your Wannabe </h2>
                            <div class="hr-invisible"></div>
                            <div class="column dt-sc-one-third first">
                            	<article class="blog-entry">
                                    <div class="entry-thumb">
                                    	<a href="#">
                                    	  <%=image_tag("blog-img1.jpg") %>
                                        </a>
                                    </div>
                                    <div class="entry-details">
                                        <div class="hr-invisible-very-small"></div>
                                        <div class="entry-title">
	                                        <h3>김우빈</h3>
                                        </div>
                                        <div class="entry-meta">
                                        	<h6>May 21<br>2014</h6>
                                        </div>
                                        <div class="entry-metadata">
                                            <p>건강한 몸</p>
                                            
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="column dt-sc-one-third">
                            	<article class="blog-entry">
                                    <div class="entry-thumb">
                                    	<a href="#">
                                    	   <%=image_tag("blog-img2.jpg") %>
                                        </a>
                                    </div>
                                    <div class="entry-details">
                                        <div class="hr-invisible-very-small"></div>
                                        <div class="entry-title">
	                                        <h3>김종국</h3>
                                        </div>
                                        <div class="entry-meta">
                                        	<h6>May 21<br>2014</h6>
                                        </div>
                                        <div class="entry-metadata">
                                            <p>근육질 몸</p>
                                            
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="column dt-sc-one-third">
                            	<article class="blog-entry">
                                    <div class="entry-thumb">
                                    	<a href="#">
                                    	     <%=image_tag("blog-img3.jpg") %>
                                        </a>
                                    </div>
                                    <div class="entry-details">
                                        <div class="hr-invisible-very-small"></div>
                                        <div class="entry-title">
	                                        <h3>마동석</h3>
                                        </div>
                                        <div class="entry-meta">
                                        	<h6>May 21<br>2014</h6>
                                        </div>
                                        <div class="entry-metadata">
                                            <p>근육 깡패</p>
                                            
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
               	</div>
          	</div> <!-- 김우빈 김종국 마동석 끝-->
            
            <div class="clear"></div>
            <div class="hr-invisible"></div>
            <div class="container">
            	<h2 class="border-title aligncenter"> 운영진 </h2>
                <div class="dt-sc-testimonial-carousel-wrapper">
                    <ul class="dt-sc-testimonial-carousel">
                        <li>
                        	<div class="dt-sc-testimonial"> 
                            	<div class="author">
                            	    <%=image_tag("testimonial-img1.jpg") %>
                                </div>
                                <div class="hr-invisible-small"></div>
                                <blockquote> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut <br>labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation<br> ullamco laboris nisi ut aliquip ex ea commodo consequat uis aute irure dolor </blockquote>
                                <div class="author-detail">
                                	김종경 <span>나는 잘생겼다</span>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<div class="dt-sc-testimonial"> 
                            	<div class="author">
                            	    <%=image_tag("testimonial-img2.jpg") %>
                                </div>
                                <div class="hr-invisible-small"></div>
                                <blockquote> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut <br>labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation<br> ullamco laboris nisi ut aliquip ex ea commodo consequat uis aute irure dolor </blockquote>
                                <div class="author-detail">
                                	한수민 <span>오류잡기 힘들다</span>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<div class="dt-sc-testimonial"> 
                            	<div class="author">
                            	   <%=image_tag("testimonial-img3.jpg") %>
                                </div>
                                <div class="hr-invisible-small"></div>
                                <blockquote> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut <br>labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation<br> ullamco laboris nisi ut aliquip ex ea commodo consequat uis aute irure dolor </blockquote>
                                <div class="author-detail">
                                	이지원 <span>암 걸릴 뻔했다</span>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<div class="dt-sc-testimonial"> 
                            	<div class="author">
                            	  <%=image_tag("testimonial-img4.jpg") %>
                                </div>
                                <div class="hr-invisible-small"></div>
                                <blockquote> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut <br>labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation<br> ullamco laboris nisi ut aliquip ex ea commodo consequat uis aute irure dolor </blockquote>
                                <div class="author-detail">
                                	김태영 <span>죽고싶다</span>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                    <div class="carousel-arrows">
                        <a href="#" class="carousel-prev"></a>
                        <a href="#" class="carousel-next"></a>
                    </div>
              	</div>  
                <div class="clear"></div>  
            </div>
            <div class="clear"></div>
       		<div class="hr-invisible"></div>
     	</div>
     	<!-- End of Main -->
    </div>
    <!-- End of Inner-Wrapper -->
</div>


