         <div id="main"><!-- Main -->
        	<div class="hr-invisible-small"></div>
        	<section class="fullwidth-background">
        		<div class="breadcrumb-wrapper">
                    <div class="container">
                    </div>
                </div>                
            </section>
            <div class="hr-invisible-very-small"></div>
            <div class="clear"></div>
            <div class="container">
           	  <section id="secondary" class="secondary-left-sidebar">
                	<aside class="widget searchwidget">
                    <h3 class="border-title"> Blog <span>Search</span></h3>
                    	<form method="post" action="#" name="searchform" class="subscribe-frm">
                            <p>
                            	<input type="text" name="username" placeholder="Enter Keyword" required>                              
                                <i class="fa fa-search icon"></i>
                            </p>
                        </form>
                    </aside>
                    <div class="clear"></div>
                    <div class="hr-invisible-small"></div>
                    <aside class="widget widget_categories">
                    	<h3 class="border-title"> Blog <span>Category</span></h3>
                        <ul>
                        	<li>
                            	<a title="" href="#"> VEDIO </a>
                            </li>
                            <li>
                            	<a title="" href="#"> DAILY </a>
                            </li>
                            <li>
                            	<a title="" href="#"> FOOD </a>
                            </li>
                        </ul>
                    </aside>
                    <div class="clear"></div>
                    <div class="hr-invisible-small"></div>
                   
                    <div class="clear"></div>
                    <div class="hr-invisible-small"></div>
                    <aside class="widget widget_tag_cloud">
                    	<h3 class="border-title"> Tags <span>Cloud</span></h3>
                        <div class="tagcloud">
                        	<a href="#" title="1 topic"> vedio </a>
                            <a href="#" title="1 topic"> daily </a>
                            <a href="#" title="1 topic"> food </a>
                        </div>
                    </aside>
                </section>
            	<section id="primary" class="page-with-sidebar with-left-sidebar transparent-bg">
                	<article class="blog-post blog-single-entry ">	
                        <div class="entry-thumb">
                            <a href="#">
                     
                            </a>
                        </div>
                        <div class="entry-details">
                        	
                        	<iframe width="560" height="315" src="https://www.youtube.com/embed/<%=@url%>" frameborder="0" allowfullscreen></iframe>
                        	<br><br><br>
                            <div class="entry-title">
                                <h3> <%= @post.title %></h3>
                            </div>
                            <div class="section-text mb-30">
                                <i class="<%=@like_user%>" value="<%=@post.id%>"></i>
                                <p id="like_p"class="like_p" value="<%=@post.id%>"><%=@like%></p>
                                <input type="hidden" id="post_like" value="<%=@post.id%>"  class="heart">
                            </div>
                            <div class="section-text mb-30">
                                
                                <i class="--" value="-->"></i>
                                <p id="like_p"class="like_p" value="--"</p>
                            </div>
                            <div class="clear"></div>
                            <div class="hr-invisible-small"></div>
                            <div class="hr-separator type2"></div> 
                            <div class="hr-separator type2"></div> 
                            <div class="clear"></div>
                            <div class="hr-invisible-medium"></div>
                            <div class="commententries">
                            	<h3 class="border-title"> <%=  %><span>Comments</span></h3>
                                <ul class="commentlist">
                                    <% @post.VideoReply.each do |p| %>
                                        
                                    <% u = User.find(p.user_id) %>
                                	<li>
                                        <div class="comment">
                                            <header class="comment-author">
                                                <%= image_tag(u.profile_image) %>
                                            </header>
                                            <div class="comment-details">
                                                <div class="author-name">
                                                    <a href="" title=""> <%= u.email %></a>
                                                </div>
                                                <div class="commentmetadata"> <%= p.updated_at.to_s[0..10]  %></div>
                                         
                                                <div class="comment-body">
                                                    <div class="comment-content">
                                                    <p><%=p.content %></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                  	</li>
                                  	<% end  %>
                                </ul>
                            </div>
                            <div id="respond">
                            	<h3 class="border-title"> Post A <span>Comments</span></h3>
                                <form method="get" action="/musle_video/reply" >
                                	<div class="animate" data-delay="100" data-animation="fadeIn">
                                        <div class="column dt-sc-one-third first">
                                            <p>
                                                <%=current_user.email%>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="animate" data-delay="700" data-animation="fadeIn">
                                    	<div class="column dt-sc-one-column">
                                            <p>
                                                <textarea cols="5" rows="10" required name="msg" class="message" name = "msg" placeholder="Your Message"></textarea>
                                            </p>
                                            <input type="hidden" name="user" value="<%=current_user.id%>">
                                            <input type="hidden" name="video_id" value="<%=@post.id%>">
                                            <input type="submit" name="submit" value="Add Comments">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="clear"></div>
                            <div class="hr-invisible-medium"></div>
                        </div>
                        <div class="clear"></div>
                    </article>
                </section>
                <div class="clear"></div>
                <div class="hr-invisible"></div>
          	</div>      
        </div><!-- End of Main --> 
	</div><!-- End of Inner-Wrapper -->
</div><!-- End of Wrapper -->
