
            <div id="menu-container">
            	<div class="container">
                    
                </div>
            </div>
        </header>
        <div id="main"><!-- Main -->
        	<div class="hr-invisible-small"></div>
        	<section class="fullwidth-background">
        		<div class="breadcrumb-wrapper">
                    <div class="container">
                        <h4> food information </h4>
                        <h6><a href="shop.html"> ALL </a> / 육류 / <a href="vegetable.html"> 채소류 </a> / <a href="fruit.html"> 과일류 </a> </h6>
                    </div>
                </div>                
            </section>
            <div class="hr-invisible-very-small"></div>
            <div class="clear"></div>
            <h2 class="border-title aligncenter"> Meat Information </h2>
            <div class="hr-invisible-small"></div>
            <div class="container">
                    <div class="column dt-sc-one-third first">
                    	<div class="product-border">
                        	<div class="product-thumb">
                            	<%= image_tag(@result_3) %><br>
                                </a>
                            </div>
                            <div class="product-details">
                            	<h4>
                                	<a href="#"> 삼겹살 </a>
                                </h4>
                                <div class="dt-sc-price"> 100g = 331kcal </div>
                                <div class="hr-invisible-very-very-small"></div>

                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="hr-invisible-medium"></div>
                        <div class="product-border">
                        	<div class="product-thumb">
                                	<%= image_tag(@result) %><br>
                                </a>
                            </div>
                            <div class="product-details">
                            	<h4>
                                	<a href="#"> 프라이드 치킨 </a>
                                </h4>
                                <div class="dt-sc-price"> 1마리 = 1700kcal </div>
                                <div class="hr-invisible-very-very-small"></div>

                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="hr-invisible-medium"></div>
                        <div class="product-border">
                        	<div class="product-thumb">
                                	     <%@result_2.each do |p|%>
                                          <%= image_tag(p['src']) %><br>
                                    <%end%>
                                </a>
                            </div>
                            <div class="product-details">
                            	<h4>
                                	<a href="#"> 닭가슴살 </a>
                                </h4>
                                <div class="dt-sc-price"> 100g = 109kcal </div>
                                <div class="hr-invisible-very-very-small"></div>

                            </div>
                        </div>
                    </div>
                    <div class="column dt-sc-one-third">
                    	<div class="product-border">
                        	<div class="product-thumb">
                                	<%= image_tag(@result_4) %><br>
                                </a>
                            </div>
                            <div class="product-details">
                            	<h4>
                                	<a href="#"> 양고기 </a>
                                </h4>
                                <div class="dt-sc-price"> 100g = 292kcal </div>
                                <div class="hr-invisible-very-very-small"></div>

                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="hr-invisible-medium"></div>
                        <div class="product-border">
                        	<div class="product-thumb">
                                	<%= image_tag(@result_5) %><br>
                                </a>
                            </div>
                            <div class="product-details">
                            	<h4>
                                	<a href="#"> 소고기(안심) </a>
                                </h4>
                                <div class="dt-sc-price"> 100g = 154kcal </div>
                                <div class="hr-invisible-very-very-small"></div>

                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="hr-invisible-medium"></div>
                        <div class="product-border">
                        	<div class="product-thumb">
                                	<%= image_tag(@result_6) %><br>
                                </a>
                            </div>
                            <div class="product-details">
                            	<h4>
                                	<a href="#"> 소고기(로스) </a>
                                </h4>
                                <div class="dt-sc-price"> 100g = 318kcal </div>
                                <div class="hr-invisible-very-very-small"></div>
                            </div>
                        </div>
                    </div>
                    <div class="column dt-sc-one-third">
                    	<div class="product-border">
                        	<div class="product-thumb">
                                	<%= image_tag(@result_7) %><br>
                                </a>
                            </div>
                            <div class="product-details">
                            	<h4>
                                	<a href="#"> 곱창 </a>
                                </h4>
                                <div class="dt-sc-price"> 100g = 140kcal </div>
                                <div class="hr-invisible-very-very-small"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="hr-invisible-medium"></div>
                        <div class="product-border">
                        	<div class="product-thumb">
                                	<%= image_tag(@result_8) %><br>
                                </a>
                            </div>
                            <div class="product-details">
                            	<h4>
                                	<a href="#"> 목살 </a>
                                </h4>
                                <div class="dt-sc-price"> 100g 264kcal </div>
                                <div class="hr-invisible-very-very-small"></div>
                                
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="hr-invisible-medium"></div>
                        <div class="product-border">
                        	<div class="product-thumb">
                                	<%= image_tag(@result_9) %><br>
                                </a>
                            </div>
                            <div class="product-details">
                            	<h4>
                                	<a href="#"> 돼지갈비 </a>
                                </h4>
                                <div class="dt-sc-price"> 100g = 337kcal </div>
                                <div class="hr-invisible-very-very-small"></div>
                    
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="hr-invisible-small"></div>
                    <div class="pagination">
                        <ul>
                            <li class="current_now"><a href="#">1</a></li>
                            <li><a href="/musle_food/food_inf_2">2</a></li>
                        </ul>
                        <div class="next-post"> <a href="#"><span class="fa fa-long-arrow-right"></span> </a> </div>
                    </div>
                    <div class="hr-invisible-medium"></div>
                    <div class="hr-invisible-very-very-small"></div>
                     <span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span> 
                    
            </div>     
  		</div><!-- End of Main --> 
  
